#index_ns_id

  = haml :header_partial, :locals => {:page_name => nil}

  Hello, #{user.name}

  %h3
    pages

  %table.page_table_cls
    - pages.each do |page|
      = haml :page_row_partial, :locals => {:page => page, :user => user}

  %h2 tags

  %table.tag_table_cls
    - tags.each do |tag|
      = haml :tag_row_partial, :locals => {:tag => tag, :user => user}

  Testing
