%h2 Tags
%div{"ng-controller" => "TagsCtrl"}
  %ul.unstyled
    %li{"ng-repeat" => "tag in tags"}
      %a(href="/t/{{tag.text}}" class="this_tag_name_cls")
        {{tag.text}}
      %a(ng-click="destroy(tag)" href="")
        remove

      %span(ng-repeat="associated in tag.associated")
        &nbsp;
        %a(ng-click="chooseSuggested(associated[0])" href=""
        class="associated_tag_name_cls")
          {{associated[0]}}({{associated[1]}})

  %form{"ng-submit" => "addTag()"}
    %input#tag_input_id{"ng-model" => "tagText",
      "ng-change" => "suggest(tagText)",
      :placeholder => "add new tag here", :size => "30", :type => "text"}/

  .error{"ng-model" => "error", "ng-show" => "hasError()"}
    {{error}}


  %ul
    %li{"ng-repeat" => "tag in suggestedTags"}
      %a(ng-click="chooseSuggested(tag)" href="")
        {{tag}}
