%form{:action => "/p/#{page.name}/duplicate",
  :method => "post",
  "ng-controller" => "TokenNameCtrl",
  "ng-init" => "init('#{page.name}')"}
  %input.proposed_name_cls{:type => "text", :name => "proposed_name", :size => "64",
          :autocorrect => "off", :autocapitalize => "off",
          :maxlength => "64", "ng-model" => "tokenName", "ng-change" => "normalize()"}
  %select{:name => "text_options"}
    text
    %option{:value => "full", selected: "selected"}
      all
    %option{:value => "headings"}
      headings
  %input{:type => "submit", :value => "duplicate this page"}
