%form#add_page_id{:action => "/page/add", :method => "post",
  "ng-controller" => "TokenNameCtrl"}

  new:
  %input{:type => "text", :name => "name", :autocorrect => "off",
  :autocapitalize => "off", "ng-model" => "tokenName",
  "ng-change" => "normalize()"}
