#page_edit_ns_id

  = haml :header_partial, :locals => {:page_name => nil}

  %form{:id => "editing_form_id",
    :action => "/p/#{page.name}/update", :method => "post"}

    %div
      %textarea{:name => "text", :cols => "160", :rows => "50"}=page_text
      %input{:type => "submit"}
