#page_edit_ns_id

  - if readwrite_token == nil
    = haml :header_partial, :locals => {:page_name => nil}

  - path = readwrite_token == nil ? "/p/#{page.name}/update" \
  - : "/s/#{readwrite_token}/update"

  %form{:id => "editing_form_id",
    :action => path, :method => "post"}

    %div
      %textarea{:name => "text", :cols => "160", :rows => "50"}=page_text
      %input{:type => "submit"}
