%h2 Tags

- if is_editable
  %div{"ng-controller" => "TagsCtrl"}

    %form{"ng-submit" => "addTag()"}
      %input#tag_input_id{"ng-model" => "tagText",
        "ng-change" => "suggest(tagText)",
        :placeholder => "add new tag here", :size => "30", :type => "text",
        :autocomplete => "off"}/

    .error{"ng-model" => "error", "ng-show" => "hasError()"}
      {{error}}

    %ul
      %li{"ng-repeat" => "tag in suggestedTags"}
        %a(ng-click="chooseSuggested(tag)" href="")
          {{tag}}

    %ul.unstyled
      %li{"ng-repeat" => "tag in tags"}
        {{tag.text}}

        (
        %a(href="/t/{{tag.text}}")
          view
        |
        %a(ng-show="{{tag.has_tag_page}}" href="/p/tag-page-{{tag.text}}")
          page
          |
        %a(ng-click="destroy(tag)" href="")
          remove
        )

        %span(ng-repeat="associated in associatedToDisplay(tag)")
          &nbsp;
          %a(ng-click="chooseSuggested(associated[0])" href="")
            {{associated[0]}}({{associated[1]}})

        %span(ng-show="hasMoreAssociatedToDisplay(tag)")
          |
        %span(ng-show="hasMoreAssociatedToDisplay(tag)")
          %a(ng-click="showMore(tag)" href="")
            more...

- else
  %div{"ng-controller" => "TagsCtrl"}
    %ul.unstyled
      %li{"ng-repeat" => "tag in tags"}
        {{tag.text}}

        %a(href="/t/{{tag.text}}")
          view

        %a(ng-show="{{tag.has_tag_page}}" href="/p/tag-page-{{tag.text}}")
          page
