%h2 Tags
%div{"ng-controller" => "TagsCtrl"}
  %span
    {{remaining()}} of {{tags.length}} remaining
  [
  %a{:href => "", "ng-click" => "archive()"} archive
  ]
  %ul.unstyled
    %li{"ng-repeat" => "tag in tags"}
      %input{"ng-model" => "tag.done", :type => "checkbox"}/
      %span{:class => "done-{{tag.done}}"} 
        {{tag.text}}
  %form{"ng-submit" => "addTag()"}
    %input{"ng-model" => "tagText", :placeholder => "add new tag here", :size => "30", :type => "text"}/
    %input.btn-primary{:type => "submit", :value => "add"}/
