@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'),
    url("fonts/SourceSerifPro-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'),
    url("fonts/SourceSerifPro-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'),
    url("fonts/SourceCodePro-Regular.woff") format('woff');
}

body {
  font-family:"Source Serif Pro", Georgia, Times, "Times New Roman", serif;
  font-size:18px;
  color:#333;
}

#page_ns_id .new_name_cls {
  width:300px;
}

a, a:visited {
  color:#3f80b0;
  text-decoration:none;
}

a:hover {
  color:#72B3E3;
}

.header_cls form {
  margin-right:20px;
  display:inline;
}

.header_cls a {
  margin-right:20px;
}

table, td {
   border:1px solid #ddd;
}

table td {
   padding:4px;
}

table.tag_table_cls .rename_tag_form_cls {
  display:none;
}

table.tag_table_cls, table.tag_table_cls td {
  border:none;
  padding:2px;
}

#sharing_tokens_id {
  margin-top:10px;
}

#sharing_tokens_id form {
  display:inline;
}

.this_tag_name_cls {
  color:gray;
  text-decoration:none;
}

textarea {
  border:1px solid #999999;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,
  DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
